.active{
    border-bottom: 1px solid #FFFBD9;
}

.nav-transition {
  overflow: hidden;
  transition: all 0.5s ease-in-out;
}


.nav-open {
  max-height: 500px; 
  opacity: 1;
  transform: translateY(0);
}


.nav-closed {
  max-height: 0;
  opacity: 0;
  transform: translateY(-20px);
}